<div class="top-header" ng-hide="$root.socialNetwork">
	<div class="container">
		<div class="top-head">
			<ul class="header-in">
				<li><a href="#" translate="help"> </a></li>
				<li><a href="/contact" translate="contact_menu"></a></li>
				<li><a href="#" translate="how_to_use"></a></li>
			</ul>
			<div class="search">
				<a target="_self" href="/auth/facebook">
					<img src="images/face-mini.png" class="header-facebook" />
				</a>
				<a target="_self" href="/auth/twitter">
					<img src="images/twitter-mini.png" class="header-twitter" />
				</a>
				<a target="_self" href="/auth/google">
					<img src="images/google-mini.png" class="header-google" />
				</a>
			</div>

			<div class="clearfix"> </div>
		</div>
	</div>
</div>

<div class="header-top">
	<div class="container">
		<div class="head-top">
			<div class="logo">
				<h1><a href="#"><span>G</span>ame<span>B</span>ets</a></h1>
			</div>
			<div class="top-nav" ng-controller="SidebarController as vm">
				<span class="menu"><img src="images/menu.png" alt=""> </span>
				<ul>
					<li class="nlightblue fade-selection-animation" ng-class="vm.isCurrent(r)" ng-repeat="r in vm.navRoutes">
						<a class="color2" ng-show="$root.generalG" ui-sref="{{r.name}}" ng-bind-html="r.settings.content"  translate="{{r.title}}"></a>
					</li>
					<li class="nlightblue fade-selection-animation">
						<a class="color6" ng-show="$root.signUpG" ng-click="" translate="sign_up_menu"></a>
					</li>

					<li class="nlightblue fade-selection-animation">
						<a class="color3" ng-show="$root.loginG" ng-click="vm.showSignInModal()" translate="login_menu"></a>
					</li>

					<li class="nlightblue fade-selection-animation">
						<a ng-show="$root.profile" ng-click="" href="/profile" class="color5 welcome"> Welcome: {{$root.displayName}}</a>
					</li>
					<li class="nlightblue fade-selection-animation picture">
						<img ng-show="$root.profile" class="avatar" src="{{$root.picture}}" />
					</li>
					<li class="nlightblue fade-selection-animation">
						<a id='logout' ng-show="$root.logoutG" class="color4" ng-click='vm.logout()' translate="logout_menu"></a>
					</li>
					<div class="lang">
						<img src="images/eng.svg" class="lang-en" ng-click="vm.setLang('en')"></img>
						<img src="images/spain.svg" class="lang-es" ng-click="vm.setLang('es')"></img>
					</div>
					<div class="clearfix"> </div>
				</ul>
				<script>
					$("span.menu").click(function() {
						$(".top-nav ul").slideToggle(500, function() {});
					});
				</script>

			</div>
		</div>
	</div>
</div>
