.help-block > dcha {
  width: 50%;
  float: right; }

.help-block > izda {
  width: 50%; }

.help-block {
  color: red;
  margin-left: 20px; }

hr.hr_style {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px grey inset; }

.latest {
  width: 90%;
  margin-left: 5%;
  height: 32px;
  border: 2px solid grey;
  background: #202020;
  color: white; }

p.parrafo {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  border-right: 2px solid white;
  background: red;
  max-width: 100%;
  width: 20%;
  height: 28px;
  text-align: center; }

.news {
  border: 2px solid white;
  margin-top: 10%;
  margin-left: 15%;
  width: 70%;
  height: 443px;
  background: white; }

.news ul {
  list-style: none; }

.mini_bar {
  border-bottom: 2px solid grey;
  width: 100%;
  height: 30px;
  background: #202020; }

.mini_bar p {
  border-right: 2px solid white;
  border-bottom: 2px solid grey;
  max-width: 100%;
  width: 150px;
  height: 30px;
  background: red;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px; }

.home-tab-group li a:hover {
  background: #bd1010;
  color: white; }

.home-tab-group .active a {
  background: #bd1010;
  color: white; }

.bar_grey {
  background: #202020;
  max-width: 100%;
  width: auto;
  height: 30px; }

/*Article*/
.img_article {
  border: 2px solid grey;
  margin-top: 20px;
  margin-left: 20px;
  max-width: 100%;
  width: 150px;
  height: 160px; }

.h1_article {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  margin-left: 200px;
  margin-top: -175px;
  padding: 10px; }

.p_article {
  font-size: 14px;
  color: grey;
  margin-left: 200px;
  padding: 10px; }

/**/
.home-tab-content {
  width: 70%;
  margin-left: 15%;
  border: 2px solid white;
  margin-top: 3%;
  background: white; }

.home-tab-content > div:last-child {
  display: block; }

.home-h1 {
  text-align: center;
  color: white;
  font-weight: 0;
  margin: 0 0 20px; }

.home-label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 35px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 20px;
  color: black;
  text-transform: uppercase; }

.home-label .req {
  /*margin: 2px;*/
  color: rgba(255, 255, 255, 0.5); }

.home-label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 20px;
  font-size: 15px;
  color: black; }

.home-label.active .req {
  opacity: 0; }

.home-label.highlight {
  color: black; }

.home-input {
  font-size: 2em;
  /*display: block;*/
  width: 90%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  margin-left: 20px;
  background-image: none;
  border: 1px solid grey;
  color: black;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease; }

.home-input:focus {
  outline: 0;
  border-color: #179b77; }

.home-field-wrap {
  position: relative;
  margin-bottom: 40px;
  display: block; }

.home-top-row:after {
  content: "";
  display: table;
  clear: both; }

.home-top-row > div {
  float: left;
  width: 46%;
  margin-right: 3%; }

.home-top-row > div:last-child {
  margin: 0; }

.home-button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: grey;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none; }

.home-button:hover, .home-button:focus {
  background: red; }

.home-button-block {
  display: block;
  width: 100%; }

.home-slogan {
  float: left; }

/*MEDIAQUERY*/
@media (min-width: 1200px) {
  .home-button {
    font-size: 3em; } }
@media (max-width: 1199px) {
  .home-form {
    padding: 30px; }

  .home-slogan > span {
    font-size: 4em; }

  .home-button {
    font-size: 2.5em; }

  .home-tab-group li a {
    font-size: 3.5em; }

  .home-label {
    font-size: 1.5em; }

  .home-input {
    font-size: 1.5em; } }
@media (max-width: 991px) {
  .home-form {
    padding: 20px; }

  .home-slogan > span {
    font-size: 3em; }

  .home-button {
    font-size: 2em; }

  .home-tab-group li a {
    font-size: 3em; }

  .home-label {
    font-size: 1em; }

  .home-input {
    font-size: 1em; } }
@media (max-width: 767px) {
  .home-form {
    left: 0;
    padding: 20px;
    width: 95%;
    margin: 70vh auto 10px auto;
    box-sizing: border-box; }

  .home-slogan {
    display: none; }

  .home-button {
    font-size: 2em; }

  .home-tab-group li a {
    font-size: 3em; }

  .home-label {
    font-size: 1em; }

  .home-input {
    font-size: 1em; } }
@media (max-width: 479px) {
  .home-top-row > div {
    width: 100%; }

  .p_article {
    visibility: hidden; }

  .h1_article {
    font-size: 10px; }

  .home-input-special {
    margin-bottom: 40px; } }
/*# sourceMappingURL=home.css.map */

/*# sourceMappingURL=home.css.map */
