<div id="contenedor" ng-controller="betsRoomController as vm">
  <div class="barra_grey"></div>
  <div id="bets_1">
    <div class="fb">
      <img class="center_img" src="images/liga_bbva.png"></img>    <img class="center_img" src="images/llegends.png"></img>
      <ul>
        <li ng-repeat="game in vm.game">
          <h2>{{game.team1}} - {{game.team2}}</h2>
          <input type="button" ng-click="vm.showBetModal(game.idmatch)" class="btn-style" value="{{game.team1}} x{{game.cashteam1}} coins"></input>
          <input type="button" ng-click="vm.showBetModal(game.idmatch)" class="btn-style" value="{{game.team2}} x{{game.cashteam2}} coins"></input>
        </li>
      </ul>
    </div>
  </div>
</div>
