<div id="contenedor" ng-controller="betsRoomController as vm">
  <div class="barra_grey"></div>
  <div id="bets_1">
    <div class="fb">
      <img class="center_img" src="images/liga_bbva.png"></img>
      <ul>
        <li ng-repeat="game in vm.game">
          <h2>{{game.team1}} - {{game.team2}}</h2>
          <input type="button" ng-click="vm.showBetModal(game.idmatch)" class="btn-style" value="{{game.team1}} x{{game.cashteam1}} coins"></input>
          <input type="button" ng-click="vm.showBetModal(game.idmatch)" class="btn-style" value="{{game.team2}} x{{game.cashteam2}} coins"></input>
        </li>
      </ul>
    </div>

    <div class="fb">
      <img class="center_img" src="images/llegends.png"></img>
      <ul>
        <li>
          <h2>BASKONIA - VALENCIA CF</h2>
          <input type="button" class="btn-style" value="BASKONIA x1.00"></input>
          <input type="button" class="btn-style" value="EMPATE x4"></input>
          <input type="button" class="btn-style" value="VALENCIA CF x3.50"></input>
        </li>
        <li>
          <h2>GIANTS OTB - ORIGEN ESPAÑA</h2>
          <input type="button" class="btn-style" value="GIANTS OTB x4.50"></input>
          <input type="button" class="btn-style" value="EMPATE x2"></input>
          <input type="button" class="btn-style" value="OG ESPAÑA x1.50"></input>
        </li>
      </ul>
    </div>
  </div>
</div>
