<div id="contenedor">
  <div class="barra_grey"></div>
  <div id="bets_1">
    <div class="fb">
      <img class="center_img" src="images/liga_bbva.png"></img>
      <ul>
        <li>
          <h2>SEVILLA - CELTA DE VIGO</h2>
          <input type="button" ng-click="vm.showBetModal()" class="btn-style" value="SEVILLA x1.50"></input>
          <input type="button" ng-click="vm.showBetModal()" class="btn-style" value="EMPATE x4"></input>
          <input type="button" ng-click="vm.showBetModal()" class="btn-style" value="CELTA DE VIGO x3.50"></input>
        </li>
        <li>
          <h2>MADRID - ATlETICO DE MADRID</h2>
          <input type="button" ng-click="vm.showBetModal()" class="btn-style" value="MADRID x1.10"></input>
          <input type="button" ng-click="vm.showBetModal()" class="btn-style" value="EMPATE x4"></input>
          <input type="button" ng-click="vm.showBetModal()" class="btn-style" value="AT.MADRID x2.30"></input>
        </li>
      </ul>
    </div>
    <!--  -->

    <div class="fb">
      <img class="center_img" src="images/llegends.png"></img>
      <ul>
        <li>
          <h2>BASKONIA - VALENCIA CF</h2>
          <input type="button" class="btn-style" value="BASKONIA x1.00"></input>
          <input type="button" class="btn-style" value="EMPATE x4"></input>
          <input type="button" class="btn-style" value="VALENCIA CF x3.50"></input>
        </li>
        <li>
          <h2>GIANTS OTB - ORIGEN ESPAÑA</h2>
          <input type="button" class="btn-style" value="GIANTS OTB x4.50"></input>
          <input type="button" class="btn-style" value="EMPATE x2"></input>
          <input type="button" class="btn-style" value="OG ESPAÑA x1.50"></input>
        </li>
      </ul>
    </div>
  </div>
</div>
