<section id="main" class="wrapper">
    <div class="container">

        <header class="major">
            <h2 class="event_title">Events</h2>
            <p class="gm-style-iw">   Search Events: <input type="text" class="filtre" ng-model="filtro" ><hr></p>
        </header>

        <div class="image fit">
            <div id='ubicacion'></div>
            <!-- Se escribe un mapa con la localizacion anterior-->
            <div id="demo"></div>
            <div id="mapholder">
              <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>

                <ui-gmap-markers models="testMarkers" coords="'self'" icon="'icon'">

              </ui-gmap-google-map>
            </div>
            <div class="events">
              <div class="of" ng-repeat="event in vm.filteredEvents| filter:{name:filtro}" id="{{event.id}}">
                  <div>
                      <div ng-click="vm.infoMarker($index)" class="desc">{{event.name}}</div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>
