<!--<div ng-controller="LoginController as vm">-->
<div class="login">
  <form id="login_form" name="login_form" novalidate>
    <div class="lang-login">
      <img src="images/eng.svg" class="lang-en" ng-click="changeLanguage('en')"></img>
      <img src="images/spain.svg" class="lang-es" ng-click="changeLanguage('es')"></img>
    </div>
    <h1 class="h1-login" translate="sign_in"><h1/>
    </br>
    <hr class="hr-login">
    <div id="email-log">
      <md-input-container class="md-block">
        <label class="label-login" translate="email_login"></label>
        <input required type="email" name="email" class="input-email" ng-model="vm.datos.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
        <div ng-messages="login_form.email.$error" role="alert">
        </div>
      </md-input-container>
    </div>
    </br>
    <div id="passw-log">
      <md-input-container class="md-block">
        <label class="label-login" translate="passwd"></label>
        <input required ng-minlength="5" class="input-passw" ng-maxlength="10" type="password" name="passwd" ng-model="vm.datos.passwd">
        <div ng-messages="login_form.passwd.$error" role="alert">
        </div>
    </div>
    <div id="bar-vertical-v1">
    </div>
    <hr class="hr-horizontal-v1">
    <img class="logo-gb" src="images/GFAv.png">
    <hr class="hr-horizontal-v2">
    <div id="bar-vertical-v2">
    </div>
    </br>
    </md-input-container>
    <a href="#" id="linkRest" translate="reset_pw"></a> </br>
    <br>
    <button class="btn btn-lg btn-primary" type="submit" id="SubmitLogin" ng-disabled="login_form.$invalid" ng-click="vm.SubmitLogin()" translate="sign_in"></button>
    <div id="resultMessageFail" class="msg_error">{{vm.resultMessageFail}}</div>
    <div id="resultMessageOk" class="msg_error">{{vm.resultMessageOk}}</div>



    <div id="social-media">
      <a target="_self" href="/auth/facebook">
        <div class="facebook"><img class="logo-login" src="images/logo-face.png" />
          <h5 class="login-h5" translate="login_F"></div>
      </a>
      <a target="_self" href="/auth/twitter">
        <div class="twitter"><img class="logo-login" src="images/logo-twitter.png"/><h5 class="login-h5" translate="login_Tw"><h5></div>
      </a>
      <a target="_self" href="/auth/google">
        <div class="google"><img class="logo-login" src="images/logo-gooogle.png"/><h5 class="login-h5" translate="login_Gplus"><h5></div>
      </a>
      </div>
      <!---<p class=p-login>¿Eres un nuevo cliente?</p><-->

</div>
</form>
</div>
<!--</div>-->
