<div class="contact">
  <!-- CONTACT -->
  <div class="contorno">
    <form id="contact_form" name="contact_form" class="details-holder" novalidate>
      <h1 id="h1-contact" translate="contact"></h1>
      <hr class="style-four">
      </br>
      <div>
        <input required ng-model="vm.inputName" id="inputName" class="input input-contact" type="text" name="inputName" placeholder="Name">
        <p class="msg_error" ng-show="contact_form.inputName.$error.required && (contact_form.inputName.$dirty || contact_form.inputName.$touched)" translate="required"></p>
      </div>
      </br>
      <div>
        <input required ng-model="vm.inputEmail" id="inputEmail" class="input input-contact" type="email" name="inputEmail" placeholder="Email *">
        <p class="msg_error" ng-show="contact_form.inputEmail.$error.required && (contact_form.inputEmail.$dirty || contact_form.inputEmail.$touched)" translate="required"></p>
        <p class="msg_error" ng-show="contact_form.inputEmail.$error.email && (contact_form.inputEmail.$dirty || contact_form.inputEmail.$touched)" translate="valid_email"></p>
      </div>
      </br>
      <div>
        <label class="subject" for="sel1"></label>
        <select required ng-model="vm.inputSubject" class="select input-contact" id="inputSubject" name="inputSubject" title="Choose subject">
                    <option value="compra">Informacion relativa a tu compra</option>
                    <option value="apuesta">Comentanos sobre tu apuesta</option>
                    <option value="contacta">Contactanos</option>
                    <option value="trabaja">Trabaja con nosotros</option>
                    <option value="proyectos">Propon proyectos</option>
                    <option value="sugerencias">Haznos sugerencias</option>
                    <option value="reclamaciones">Atendemos tus reclamaciones</option>
                    <option value="info">Informacion relativa de Gamebets</option>
                    <option value="sociales">Proyectos sociales</option>
                    <option value="novedades">Te avisamos de nuestras novedades</option>
                    <option value="distinto">Algo distinto</option>
                </select>
        <p class="msg_error" ng-show="contact_form.inputSubject.$error.required && (contact_form.inputSubject.$dirty || contact_form.inputSubject.$touched)" translate="required"></p>
      </div>
      </br>
      <div>
        <textarea required ng-model="vm.inputMessage" id="inputMessage" class="input input-contact" type="text" rows="4" name="inputMessage" placeholder="Message *" style="max-width: 100%;"></textarea>
        <p class="msg_error" ng-show="contact_form.inputMessage.$error.required && (contact_form.inputMessage.$dirty || contact_form.inputMessage.$touched)" translate="required"></p>
      </div>
      </br>
      <button class="btn-read-more" type="submit" name="submit" id="submitBtn" translate="send" ng-click="vm.SubmitContact()"></button>
      <div id="resultMessageOk" class="alert-success">{{vm.resultMessageOk}}</div>
      <div id="resultMessageFail" class="alert-danger">{{vm.resultMessageFail}}</div>

    </form>
  </div>
  <!-- SUPPORT DIV -->
  <div class="support">
    <h1 id="h1-supp" translate="support"></h1>
    <hr class="style-two">
    <div>
      <button class="btn-tech " type="button" name="submit" id="btnSupp" translate="technical" ng-click="vm.SubmitSupp()"></button>
    </div>
    <div>
      <button class="btn-supp" type="button" name="submit" id="btnDocument" translate="documentation" ng-click="vm.SubmitDoc()" ></button>
    </div>
  </div>
</div>
